BCP 47 language tags support

there are a number of features in the vein of BCP 47 language tags supported by Intl which seem to be missing from luxon.

For example:
```js
> new Date().toLocaleString('en-US-u-hc-h23')
"11/27/2022, 21:08:36"
> DateTime.now().setLocale('en-US-u-hc-h23').toLocaleString(DateTime.DATETIME_SHORT)
"11/27/2022, 9:08 PM"
```

In this example, `hourCycle` is actually a supported argument to `DateTime#toLocaleString` (which makes sense, its a supported argument in DateTimeFormat), but using the locale it seems to be being sanitized or similar before it reaches intl.

In more complex code bases, being able to just set the default locale with tags is super important as its not really feasible to make every random call site of toLocaleString also be checking for the user's preferred hour cycle (or whatever other extension you might be setting via the locale)

I hear you on this. The issue is that Luxon supports `outputCalendar` and `numberingSystem` as separate fields. It does this by gluing together a string and passing the result to Intl:

```js
function intlConfigString(localeStr, numberingSystem, outputCalendar) {
  if (outputCalendar || numberingSystem) {
    localeStr += "-u";

    if (outputCalendar) {
      localeStr += `-ca-${outputCalendar}`;
    }

    if (numberingSystem) {
      localeStr += `-nu-${numberingSystem}`;
    }
    return localeStr;
  } else {
    return localeStr;
  }
}
```

So for that to work in combination with other `-u` options, we'd need some more sophisticated manipulation of the BCP string. At some point, I decided it was getting too complex to build a sort of general purpose BCP-47 parser/serializer, so I did this:

```js
function parseLocaleString(localeStr) {
  // I really want to avoid writing a BCP 47 parser
  // see, e.g. https://github.com/wooorm/bcp-47
  // Instead, we'll do this:

  // a) if the string has no -u extensions, just leave it alone
  // b) if it does, use Intl to resolve everything
  // c) if Intl fails, try again without the -u

  const uIndex = localeStr.indexOf("-u-");
  if (uIndex === -1) {
    return [localeStr];
  } else {
    let options;
    const smaller = localeStr.substring(0, uIndex);
    try {
      options = getCachedDTF(localeStr).resolvedOptions(); // this is new Intl.DateTimeFormat(localeStr).resolvedOptions() but with caching
    } catch (e) {
      options = getCachedDTF(smaller).resolvedOptions();
    }

    const { numberingSystem, calendar } = options;
    // return the smaller one so that we can append the calendar and numbering overrides to it
    return [smaller, numberingSystem, calendar];
  }
}
```

That's why it's getting sanitized: i'm trying to avoid questions like "what if -u-ca- is already set?", etc. I certainly don't want to throw in a bunch of string processing code that takes apart the BCP string into some sort of object, overrides the right properties, and then reassembles it. That said, I think we can do this:

 1. at least chrome, setting the calendar or numbering system twice doesn't seem to break things, e.g. `new Intl.DateTimeFormat("en-u-ca-islamic-ca-coptic-nu-hanidec-nu-mong").format()`
 2. so that means (I think) that we can drop the sanitization altogether
 3. in the first function above, we check for the presence of `-u-` and if it's there, we simply append to set options to the end

I think I'd accept that PR.

I asked around a bit and got this wonderful answer from @gibson042:

> I'm assuming you're referring to duplicating _subtags_ (cf. [RFC 5646 § 2.1](https://www.rfc-editor.org/rfc/rfc5646.html#section-2.1)), in which case the answer is "it depends". Duplication never violates _syntactic_ well-formedness, but duplicate **language variant** subtags and duplicate **singleton** subtags are always rejected per [IsStructurallyValidLanguageTag](https://tc39.es/ecma402/#sec-isstructurallyvalidlanguagetag) and UTS #35 [§ 3.2](https://unicode.org/reports/tr35/#Unicode_locale_identifier) and [§ 3.4](https://unicode.org/reports/tr35/#unicode_variant_subtag_validity). Duplicate UTS #35 "u" extension attribute and keyword subtags are permitted by ECMA-402, but [UnicodeExtensionComponents](https://tc39.es/ecma402/#sec-unicode-extension-components) ensures that only the first instance of any given attribute or keyword key in a locale identifier is preserved.

I did observe in local CLI that all engines behave in the way described here, but I also found that firefox desktop sometimes throws (even though jsc cli does not lol), so I need to look into that a bit more.

I looked into this again and wasn't able to make firefox throw, so I'm assuming I just messed up when I initially investigated this. I think it would be safe to take advantage of duplication to provide this implementation!

@devsnek thanks for looking into it. I'd accept a PR making those changes, along with some new tests showing that having `-u-` in the locale string and also explicit `numberingSystem` and `outputCalendar` options work. I suspect the actual code change will be limited to the methods I quoted above.